.dyxor { 
  border-bottom-width: 6px;
  line-height: 78px;
  margin-top: 93px;
  margin-left: 51px;
  padding-bottom: 65px;
  border-top-width: 44px;
  margin-bottom: 7px;
  border-bottom-width: 49px;
  border-bottom-width: 54px;
  border-bottom-width: 69px;
}
