.dyxor { 
  border-bottom-width: 6px;
  line-height: 78px;
  margin-top: 93px;
  margin-left: 51px;
  padding-bottom: 65px;
  border-top-width: 44px;
  margin-bottom: 7px;
  border-bottom-width: 49px;
  border-bottom-width: 54px;
  padding-top: 73px;
  line-height: 49px;
  padding-left: 53px;
  padding-left: 61px;
  border-bottom-width: 55px;
  border-top-width: 5px;
}
